@import url("https://fonts.googleapis.com/css2?family=Amita&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");


* {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: none;

}

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$accent-color: #8228a5;
$bg-color: rgb(16, 13, 27);
$bg-color2 : rgb(18, 20, 37);

.App{
   
    position: relative;
   

}
section{
    overflow:hidden;
}
html{
    scroll-behavior: smooth;
}
.loading{
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: $bg-color;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    img{
        width: 100px;
    }
}

.cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2000;
    user-select: none;
    pointer-events: none;
    display: none;
    @media (min-width: $lg){
        display: block;
    }
}

.follower{
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    z-index: 1999;
    opacity: .8;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;
    display: none;
    @media (min-width: $lg){
        display: block;
    }
}