
.start {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    height: calc(var(--vh, 1vh) * 100);
   
    .wrapper {
      width: 70%;
      margin: 0 auto;
  
      
      p {
        color: rgba(255, 255, 255, 0.418);
        font-size: 1.05rem;
        margin-bottom: 20px;
        font-weight: lighter;
      }
      h1 {
        color: whitesmoke;
        font-size: 2rem;
        position: relative;
        width: fit-content;
        overflow: hidden;
        span {
          color: $accent-color;
        }
      }
      h2 {
        color: whitesmoke;
  
        font-size: 1.8rem;
        margin-top: 20px;
        line-height: 1.3;
  
        span {
          font-family: "Amita", cursive;
          font-weight: lighter;
        }
        span:last-child {
          font-family: "Roboto Mono", monospace;
        }
      }
      > span {
        color: rgba(255, 255, 255, 0.418);
        font-weight: normal;
        font-size: 1.6rem;
        margin-top: 10px;
        display: block;
        width: fit-content;
      }
      @media (min-width: $sm) {
        h1 {
          font-size: 2.5rem;
        }
        h2 {
          font-size: 2.2rem;
          margin-top: 10px;
        }
        > span {
          margin-top: 40px;
        }
      }
      @media (min-width: $xl) {
        width: 60%;
        h1 {
          font-size: 3rem;
        }
        h2 {
          font-size: 2.8rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
    svg {
      position: absolute;
      bottom: 30px;
      margin: 0 auto;
      fill: whitesmoke;
    }
  }
  