
.start {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: $bg-color;
    .wrapper {
      width: 70%;
      margin: 0 auto;
      position: relative;
      z-index: 10;
      
      p {
        color: rgba(255, 255, 255, 0.418);
        font-size: 1.05rem;
        margin-bottom: 20px;
        font-weight: lighter;
      }
      h1 {
        color: whitesmoke;
        font-size: 2rem;
        position: relative;
        width: fit-content;
        overflow: hidden;
        span {
         

           svg{
             width: 150px;
             margin-top: 10px;
             path{
               stroke-width: 3;
               animation: strokeOffset 2s linear;
               animation-fill-mode: forwards;
               stroke: whitesmoke;
               
               
             }
            
           }
            @keyframes strokeOffset{
              0%{
                 
              }
              80%{
                fill: transparent;
              }
              100%{
                stroke-dashoffset: 0;
                fill: whitesmoke;
                
              }
            }
         
        }
      }
      h2 {
        color: whitesmoke;
  
        font-size: 1.8rem;
        margin-top: 20px;
        line-height: 1.3;
  
        span {
          font-family: "Amita", cursive;
          font-weight: lighter;
        }
        span:last-child {
          font-family: "Roboto Mono", monospace;
        }
      }
      > span {
        color: gray;
        font-weight: normal;
        font-size: 1.6rem;
        margin-top: 10px;
        display: block;
        width: fit-content;
      }
      @media (min-width: $sm) {
        h1 {
          font-size: 2.5rem;
          span{
            svg{
              width: 180px;
            }
          }
        }
        h2 {
          font-size: 2.2rem;
          margin-top: 10px;
        }
        > span {
          margin-top: 40px;
        }
      }
      @media (min-width: $xl) {
        width: 60%;
        h1 {
          font-size: 3rem;
          span{
            svg{
              width: 220px;
            }
          }
        }
        h2 {
          font-size: 2.8rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
    .scrollIcon {
      position: absolute;
      bottom: 30px;
      margin: 0 auto;
      fill: whitesmoke;
    }
  }
  