
.work{
  
    background: $bg-color;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  
    padding: 100px 0;
    
  
    
    .wrapper{
      width: 70%;
     
     
     
     color: whitesmoke;
      margin: 0 auto;
      >div{
        width: fit-content;
        transform-style: preserve-3d;
         >.glare-wrapper{
           pointer-events: none;
         }
      }
     
       .project{
         
         color: whitesmoke;
         position: relative;
         width: 100%;
         max-width: 400px;
         margin: 30px 0;
         display: block;
         
        
         img{
           width: 100%;
          
           
           z-index: 1;
         }
        .name{
          position: absolute;
          left: -20px;
          bottom: 30px;
          font-size: 1.3rem;
          font-weight: bold;
          text-transform: capitalize;
          z-index: 2;
          transform: translateZ(40px);
          span:first-child{
            border-bottom: 3px solid whitesmoke;
            padding: 5px 0;
            
            display: block;
            width: fit-content;
            margin-bottom: 10px ;
          }
          .index{
            font-size: 1rem;
            font-weight: lighter;
            color: rgba(128, 128, 128, 0.692);
            display: block;
            
          }
        }
       
  
       }
       .project:after{
         content: '';
         height: 100%;
         width: 100%;
         background: linear-gradient(to top right, rgb(0, 0, 0) , rgba(128, 128, 128, 0));
         position: absolute;
         top: 0;
         left: 0;
         
       }
       
     
    }
  }